@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: transparent;
  color: #fafafa;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
  /* Subtle window border */
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}